body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-size: cover;
    background: url(https://picsum.photos/3000/2000/?image=1015) no-repeat;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 25%;
    height: 100%;
    background-color: #03a9f4;
    opacity: 0.8;
}

