<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us - StockSenseInventory</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
          integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
<!-- Navbar Section -->
<nav class="navbar">
    <div class="navbar__container">
        <a th:href ="@{/}" id="navbar__logo"><i class="fas fa-gem"></i><span>StockSenseInventory</span></a>
        <div class="navbar__toggle" id="mobile-menu">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
        <ul class="navbar__menu">
            <li class="navbar__item">
                <a href="/static" class="navbar__links"></a>
            </li>
            <li class="navbar__item">
                <a th:href ="@{/login}" class="navbar__links">Login</a>
            </li>
            <li class="navbar__item">
                <a th:href ="@{/register/new}" class="navbar__links">Register</a>
            </li>
            <li class="navbar__btn">
                <a th:href ="@{/about}" class="navbar__links button">About Us</a>
            </li>
            <li class="navbar__btn">
                <a th:href ="@{/contact}" class="navbar__links button">Contact Us</a>
            </li>
        </ul>
    </div>
</nav>

<!-- About Us Section -->
<div class="about-us">
    <div class="about-us__container">
        <h1>About Us</h1>
        <p>Welcome to StockSenseInventory, your go-to solution for inventory management! We strive to provide innovative and efficient inventory management solutions for businesses of all sizes.</p>
        <p>Our platform is powered by SpringBoot technology and developed by Joseph Lee. With StockSenseInventory, you can optimize your inventory management processes and make informed decisions to drive your business forward.</p>
        <p>Join us today and experience inventory excellence!</p>
    </div>
</div>

<!-- Footer Section -->
<footer class="footer">
    <div class="footer__container">
        <div class="footer__links">
            <div class="footer__link--wrapper">
                <div class="footer__link--items">
                    <h2>About Us</h2>
                    <a href="/register">Careers</a>
                    <a href="/static">Testimonials</a>
                    <a href="/static">How it works</a>
                    <a href="/static">Terms of Services</a>
                </div>
                <div class="footer__link--items">
                    <h2>Contact Us</h2>
                    <p>Phone: +18765566773 (Digi)</p>
                    <p>Phone: +18768015401 (Flow)</p>
                    <p>Email: Joseph.lee@kcc.edu.jm</p>
                    <p>Address: Glencoe Meadows, Manchester</p>
                    <p>Website: www.stocksenseinventory.com</p>
                </div>
            </div>
            <div class="social__media">
                <div class="footer__logo">
                    <a href="/static" id="footer__logo"><i class="fas fa-gem"></i>StockSenseInventory &copy; </a>
                </div>
                <div class="social__icons">
                    <a href="/static" class="social__icon--link" target="_blank">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="/static" class="social__icon--link" target="_blank">
                        <i class="fab fa-facebook"></i>
                    </a>
                    <a href="/static" class="social__icon--link" target="_blank">
                        <i class="fab fa-youtube"></i>
                    </a>
                    <a href="/static" class="social__icon--link" target="_blank">
                        <i class="fab fa-whatsapp"></i>
                    </a>
                    <a href="/static" class="social__icon--link" target="_blank">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="/static" class="social__icon--link" target="_blank">
                        <i class="fab fa-linkedin"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>
</body>
</html>
