<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="css/register.css">
</head>
<body>
<div class="form">
    <form th:action="@{/register}" th:object="${user}" method="post">
        <h2>Register</h2>
        <div class="input-box">
            <label>
                <input type="text" name="firstName" th:field="*{firstName}" placeholder="First Name" required>
            </label>
        </div>
        <div class="input-box">
            <label>
                <input type="text" name="lastName" th:field="*{lastName}" placeholder="Last Name" required>
            </label>
        </div>
        <div class="input-box">
            <label>
                <input type="text" name="username" th:field="*{username}" placeholder="Username" required>
            </label>
        </div>
        <div class="input-box">
            <label>
                <input type="password" name="password" th:field="*{password}" placeholder="Password" required>
            </label>
        </div>
        <div class="input-box">
            <input type="submit" name="sign-up" value="Register">
        </div>
    </form>
    <p>Already have an account? <a th:href ="@{/login}">Sign in here</a>.</p>
</div>
</body>
</html>
